.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #151914;
}

.formBox {
    position: relative;
    width: 400px;
    height: 450px;
    border: 1.5px solid white;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inputBox {
    position: relative;
    margin: 40px;
    border-bottom: 2px solid white;
}

.inputBox label {
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    color: #151914;
    font-size: 1.2em;
    pointer-events: none;
}

.inputBox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}

.inputBox ion-icon {
    position: absolute;
    right: 8px;
    color: white;
}

.button {
    width: 100px;
    height: 45px;
    border-radius: 40px;
    background: #003D7F;
    color: white;
    border: white;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 70;
}

.button:hover {
    background: white;
    color: #003D7F;
}

.register{
    font-size: 1em;
    color: #151914;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #151914;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

.frontPage {
}

.logo {
    width: 70%;
    margin-right: 20px;
}
