.dflex{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 50%;
    margin-bottom: 3rem;
}

.dflex label{
    display: flex;
}

.button {
  width: 100px;
  height: 45px;
  border-radius: 40px;
  background: #003D7F;
  color: white;
  border: white;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 70;
}

.button:hover {
  background: white;
  color: #003D7F;
}
